<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="d-flex flex-row p-1">
      <button routerLink="/products" class="btn btn-block btn-primary">
      Products
      </button>
      <button routerLink="/orders" class="btn btn-block btn-primary">
        Orders
        </button>

      <button routerLink="/login" class="btn btn-block btn-danger">
        Logout
      </button>

    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-6 p-1">
      <table class="table table-hover table-sm">
        <thead class="mdb-color lighten-3 white-text">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let product of productList">
            <tr>
              <td>{{product.id}}</td>
              <td>{{product.name}}</td>
              <td>{{product.category}}</td>
              <td>{{product.price}}</td>
              <td class="text-center">
                <button class="btn btn-sm btn-danger" (click)="del(product.id)">Remove</button>
              </td>
            </tr>
        </ng-container>
        </tbody>

      </table>

    </div>
  </div>
</div>
